html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}











html{
    background-color: antiquewhite;
}

body{
    padding: 5.5em;
    padding-top: 6.7em;
}

h1{
    text-align: center;
    font-size: 2.5em;
    font-weight:  bolder;
    padding-bottom: 0.67em;
}

h2{
    padding-left: 3px;
    font-size: 2em;
    font-weight:  bolder;
    padding-bottom: 0.8em;
}

.info{
    font-size: 1.23em;
    padding-bottom: 1em;
}

.booksectionadder{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.buttonmover{
    padding: 1.2em;
    padding-right: 1em;
    padding-left: 0.3em;
}

.addanewbook{
    height: 30px;
    width: 150px;;
    font-weight: bolder;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    background-color: rgb(59, 59, 128);
}

.bookaddingsection{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#forms{
    padding: 0.7em;
    opacity: 0;
}

.bookheader{
    font-weight: bold;
    font-size: 2em;
}

.arrangebox{
    display: flex;
    flex-direction: row;
}

.authorlabel{
    font-size: 1.5em;
    padding-top: 9px;
    padding-right: 0.3em;
}

#author{
    border: 1px solid black;
    border-radius: 25px;
    height: 40px;
    width: 350px;
    font-size: larger;
    padding-left: 15px;
}

.titlelabel{
    padding-left: 0.8em;
    font-size: 1.5em;
    padding-top: 9px;
    padding-right: 0.3em;
}

#title{
    border: 1px solid black;
    border-radius: 25px;
    height: 40px;
    width: 350px;
    font-size: larger;
    padding-left: 15px;
}

.numofpageslabel{
    padding-left: 0.8em;
    font-size: 1.5em;
    padding-top: 9px;
    padding-right: 0.3em;
}

#numofpages{
    border: 1px solid black;
    border-radius: 25px;
    height: 40px;
    width: 200px;
    font-size: larger;
    padding-left: 15px;
    padding-right: 15px;
}

.readstatuslabel{
    padding-left: 0.8em;
    font-size: 1.5em;
    padding-top: 9px;
    padding-right: 0.3em;
}

.checkboxer{
    padding-top: 0.5em;
}

#readstatus{
    height: 1.7em;
    width: 1.7em;
}

input[type=checkbox] {
    accent-color: black;
}

#submit{
    height: 30px;
    width: 150px;;
    font-weight: bolder;
    border-radius: 7px;
    cursor: pointer;
}

.submitpara{
    margin: 0px;
    padding-top: 0.5em;
    padding-left: 2em;
}

.tabler{
    display: flex;
}

table {
    flex: 1;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 1rem;
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(235,235,235);
    font-size: 1.3em;
    font-weight: bold;

}

td{
    text-align: center;
    font-size: 1.1em;
    background-color: white;
}

.styler{
    padding-left: 10px;
    padding-right: 10px;
}